use MeetingTracker

SELECT * 
FROM Employees
ORDER BY Position

SELECT * 
FROM ChargeCodes
ORDER BY Label

SELECT * 
FROM Meetings
ORDER BY Label

SELECT * 
FROM MeetingHours
ORDER BY MeetingLabel